<!-- Liping Wu 300958061 COMP303 Assignment4-Organization -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/main_layout}">
<head lang="en">
<meta charset="UTF-8">
<title>Organizations List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<div layout:fragment="content" class="container_list">
		<h1 align="center">Organizations List</h1>
		<div id="feedback" class="alert alert-danger pre_line"></div>
		<table id="tbl-list" class="table table-hover table-striped ">
			<thead class="thead-dark">
				<tr>
					<th>Organization Id</th>
					<th>Organizationn Name </th>
					<th>Address </th>
					<th>Postal Code </th>
					<th>Phone#</th>
					<th>Email </th>
					<th>Website </th>
					
				</tr>
			</thead>
			<tr th:each="organization : ${orgList}">
				<td th:text="${organization.orgId}">Organization Id</td>				
				<td th:text="${organization.orgName}">Organization Name</td>
				<td th:text="${organization.address}">Address</td>
				<td th:text="${organization.postalCode}">Postal Code</td>
				<td th:text="${organization.phoneNo}">Phone No</td>
				<td th:text="${organization.email}">Email</td>
				<td th:text="${organization.website}">Website</td>
				
				<td><a th:href="@{/orgs_details.html(orgId=${organization.orgId})}">Details</a>
					<a th:href="@{/orgs_update.html(orgId=${organization.orgId})}">Update</a>
					<a th:href="@{/orgs_delete.html(orgId=${organization.orgId})}">Delete</a></td>
			</tr>
		</table>
		<strong><a href="/">Go to home</a></strong>
	</div>
</body>
</html>