<!-- Liping Wu 300958061 COMP303 Assignment4 -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Recruitment Agency App</title>
</head>
<body>
	<div layout:fragment="content" class="container" >
		<h2 align='center'>About the Recruitment Agency App</h2>		
		<h4>Key knowledge used:</h4>
		<ul>
			<li>Spring Boot  </li>
			<li>Thymeleaf layout</li>
			<li>Thymeleaf Bootstrap</li>
			<li>JQuery apply in Spring Boot Thymeleaf</li>
			<li>Apply Exception Handler in Spring Boot</li>
			<li>Spring Boot Validation </li>
		</ul>
		<br>
		<h4>Main features:</h4>
		<ul>
			<li>Eureka Server Service</li>		
			<li>JOB web API CRUD</li>			
			<li>Category web API CRUD</li>
			<li>Organization web API CRUD</li>
			
		</ul>

		<h4>Resources :</h4>
		<ul>
			<li>https://www.thymeleaf.org/doc/articles/layouts.html</li>
			<li>https://www.roytuts.com/spring-boot-jquery-ajax-crud-example/</li>
			<li>https://mkyong.com/spring-boot/spring-boot-ajax-example/</li>
			<li>https://www.tutorialrepublic.com/jquery-tutorial/jquery-show-and-hide-effects.php</li>
			<li>https://medium.com/@grokwich/spring-boot-thymeleaf-html-form-handling-762ef0d51327</li>
		</ul>
	</div>
</body>
</html>